@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@media (prefers-color-scheme: dark) {
	:root {
	  --accent-blue: #4BAAEB;
	  --text: white;
	  --text-inv: black;
	  --bg: #191B1A;
	}
}

@media (prefers-color-scheme: light) {
	:root {
	  --accent-blue: #0079CD;
	  --text: black;
	  --text-inv: white;
	  --bg: white;
	}
}

body {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto;
	background-color: var(--bg);
	font-family: Poppins;
	color: var(--text);
	height: 100vh;
	max-height: 100%;
	max-width: 80%;
	margin: auto;
	align-content: center
}

header {
	grid-column: 2;
	padding-bottom: 50px;
}

header h3 {
	font-size: 300%;
	font-weight: 600;
	opacity: 0.9;
}

header h5 {
	font-size: 125%;
	font-weight: 400;
}

main {
	max-width: 90%;
	grid-column: 2;
	opacity: 0.9;
}

a {
	color: var(--accent-blue);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	text-decoration: none;
}

header a:hover {
	padding: 8px;
	border-radius: 6px;
	background-color: rgba(150,150,200,0.15);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1.1);
}

button {
	box-sizing: border-box;
	min-width: 140px; height: 45px;
	margin-bottom: 2vh; 
	font-size: 0.9em;
	border-radius: 6px;
	border: none;
	background-color: var(--text);
	color: white;
	outline: none;
	transition: all 0.2s cubic-bezier(.25,.8,.25,1.3);
	font-weight: 500;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	line-height: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

button.outlined {
	border: solid;
	border-color: rgba(255,255,255,0.25);
	border-width: 1.5px;
	background-color: black;
	color: white;
	outline: none;
	box-shadow: none;
}

button.outlined.red {color: #E57373; border-color: #E57373;}

button.outlined:hover {
	margin-left: 10px;
}

button.outlined.red:hover {
	color: black;
	background-color: #E57373;
}