@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --accent-blue: #4AB6FF;
    --text: white;
    --bg: #191B1A;
    --bg-translucent: rgba(255,140,0,0.07);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-blue: #0079CD;
    --text: black;
    --bg: white;
    --bg-translucent: rgba(100,20,0,0.2);
  }
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-family: Poppins, Helvetica, sans-serif;
  margin: auto;
}

#root {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 80% auto;
  align-content: center;
}

/* Safari hack */
/* @supports (-webkit-touch-callout: none) {
/*   #root {
/*     /* The hack for Safari */
/*     height: -webkit-fill-available;
/*   }
/* } */

html, body, #root {
  position:relative;
  overflow-x:hidden;
}

#projects {
  z-index: 4;
  height: 500px;
  grid-column: 2;
  background-color: var(--bg-translucent);
  backdrop-filter: blur(5px) saturate(100%);
  border-radius: 1em;
  margin: 0em 1em 0em 1em; 
  padding: 3em 4em 3em 4em; 
  margin-left: -4em;
  width: 500px;
  max-width: 90%;
  margin-bottom: 120px;
}

header {
  padding-top: 30vh;
  grid-column: 2;
  padding-bottom: 20px;
  width: fit-content;
}

h2 {
  margin: 0;
}

header h3 {
  font-size: 300%;
  font-weight: 600;
  box-shadow: -8px 8px 0px rgba(80,80,200,0.1);
  opacity: 0.9;
  min-width: fit-content;
  width: 250px;
  background-color: rgba(100,150,150,0.2);
  text-shadow: -8px 8px 3px rgba(120,120,120,0.16);
}

header h5 {
  max-width: 500px;
  line-height: 150%;
  font-size: 115%;
  font-weight: 400;
}

a {
  color: var(--accent-blue);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1.4);
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  z-index: 5;
}

header a:hover {
  padding: 8px;
  border-radius: 6px;
  background-color: rgba(100,150,250,0.15);
  line-height: 250%;
}

header a:active {
  padding: 10px;
}

p.linked {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1.3);
  padding-right: 16px;
}

p.linked:hover {
  padding-right: 0px;
}

.bgElement {
  margin-top: 15vh;
  margin-left: 60vw;
  position: fixed;
  width: 350px;
  height: 550px;
  max-height: 78vh;
  background-color: rgba(80,80,200,0.05);
  transition: all 8s cubic-bezier(.25,.8,.25,1), margin 10s cubic-bezier(.25,.8,.25,1);
  border: 3px dashed rgba(150,150,150,0.25);
  #box-shadow: 10px 10px 0px rgba(80,255,80,0.15);
}

.bgElement:hover, .bgElement:active {
  margin-top: 13vh;
  margin-left: 65vw;
  width: 320px;
  border: 3px dotted rgba(210,80,80,0.5);
  background-color: rgba(255,0,0,0.02);
  #box-shadow: 60px 200px 0px rgba(80,255,80,0.15);
}

footer {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: auto 80% auto;
  width: 100%;
  justify-items: center;
  z-index: 99;
}

#footerLinks {
  grid-column: 2;
  color:  var(--bg);
  height: 1.8em;
  width: 4em;
  font-size: 1.8em;
  background-color: rgba(80,80,100,0.8);
  backdrop-filter: blur(10px) saturate(200%);
  border-radius: 0.2em;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 3vh;
  margin-top: 3vh;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1.3);
}

#footerLinks a {
  color: var(--bg);
}

#footerLinks:hover {
  width: 4.3em;
  background-color: rgba(80,80,125,0.8);
}

#footerLinks * {
  opacity: 0.9;
}

#footerLinks *:hover{
  opacity: 1;
}
