@charset "UTF-8";

@media (prefers-color-scheme: dark) {
  :root {
    --accent-blue: #4AB6FF;
    --text: white;
    --bg: #151515;
    --bg-translucent: rgba(0,200,255,0.1);
    --bg-footer: rgba(0,0,0,0.5);
    --project-bg:  rgba(0, 0, 0, 0);
    --project-shadow:  rgba(0,12,15,1);
    --embross-shadow: rgba(220, 255, 255, 0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-blue: #0079CD;
    --text: black;
    --bg: #f9fafb;
    --bg-translucent: rgba(140,60,0,0.25);
    --bg-footer: rgba(255,255,255,0.5); 
    --project-bg: rgba(255, 255, 255, 0.4);
    --project-shadow:  rgba(255,242,235,0.98);
    --embross-shadow: rgba(220, 255, 255, 0.2);
  }
}

#root {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 80% auto;
  align-content: center;
}

/* Safari hack */
/* @supports (-webkit-touch-callout: none) {
/*   #root {
/*     /* The hack for Safari */
/*     height: -webkit-fill-available;
/*   }
/* } */

html, body {
  color: var(--text);
  background-color: var(--bg);
  margin: auto;
  padding: 0;
  position:relative;
  overflow-x:hidden;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.icon {
  height: auto;
  display: block;
  color: var(--text);
  opacity: 0.5;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1.3);
}

.icon:hover{
  opacity: 1;
  transition-delay: 0ms;
}

#projects {
  z-index: 4;
  grid-column: 2;
  background-color: var(--bg-translucent);
  backdrop-filter: blur(10px) saturate(100%);
  border-radius: 0.5em;
  margin: 0em 1em 0em 1em; 
  padding: 1.6em 3em 1.5em 100%; 
  margin-left: -100%;
  width: 500px;
  max-width: 90%;
  margin-bottom: 100px;
}

#projects h2 {
  font-size: 1.4em;
  margin: 0;
  margin-bottom: 1em;
}

div.project {
  display: grid;
  border-radius: 0.5em;
  background-color: var(--project-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  margin-top: 15px;
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
  margin-left: -25px;
  margin-right: -25px;
  box-shadow: inset 0 5px 20px var(--embross-shadow), inset 0 -10px 15px rgba(0, 0, 0, 0.08), inset 0 -125px 110px var(--project-shadow), 0px 3px 6px rgba(0, 0, 0, 0.05);
}

div.project .projectDetails {
  padding: 25px;
  grid-row: 50;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto min-content min-content;
}

div.project:hover {
  box-shadow: inset 0 5px 20px var(--embross-shadow), inset 0 -10px 15px rgba(0, 0, 0, 0.08), inset 0 -120px 110px var(--project-shadow), 0px 3px 8px rgba(0, 0, 0, 0.1);
  margin-left: -28px;
  margin-right: -28px;
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

div.project h5 {
  font-weight: 600;
  font-size: 0.95em;
  margin: 0;
  line-height: 100%;
  margin-bottom: 10px;
  grid-column: 1;
  grid-row: 1;
}

div.project p {
  font-weight: 600;
  opacity: 0.5;
  font-size: 0.8em;
  margin: 0;
  line-height: 100%;
  grid-column: 1;
  grid-row: 2;
}

div.project .icon {
  padding: 8px;
  margin-right: -8px;
  border-radius: 0.3em;
}

div.project .icon:hover {
  background-color: var(--project-bg);
  padding: 8px 14px 8px 14px;
}

div.project a {
  font-size: 1.3em;
  justify-self: end;
  align-self: center;
  grid-row: 1 / span 2;
  margin: 0px 0px 0px 8px;
  color: var(--text);
}

header {
  padding-top: 20vh;
  grid-column: 2;
  padding-bottom: 20px;
  width: fit-content;
}

header h3 {
  position: relative;
  z-index: 50;
  backdrop-filter: blur(8px) saturate(300%);
  font-size: 300%;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 170%;
  box-shadow: -12px 12px 0px rgba(100,100,255,0.15);
  min-width: fit-content;
  width: 260px;
  background-color: rgba(80,125,125,0.3);
  text-shadow: -12px 12px 3px rgba(120,120,120,0.16);
}

header h5 {
  font-weight: 600;
  max-width: 540px;
  line-height: 180%;
  font-size: 1em;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1.4);
  margin: 0;
}

header p {
  max-width: 540px;
  line-height: 180%;
  font-size: 1em;
  font-weight: 400;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1.4);
}

a {
  color: var(--accent-blue);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1.4);
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  z-index: 75;
}

header a:hover {
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  background-color: rgba(100,150,250,0.15);
}

header a:active {
  padding: 6px 10px 6px 10px;
}

.bgElement {
  margin-top: 10vh;
  margin-left: 60vw;
  position: fixed;
  width: 600px;
  height: 800px;
  max-height: 78vh;
  background-color: rgba(80,80,200,0.05);
  transition: all 8s cubic-bezier(.25,.8,.25,1), margin 10s cubic-bezier(.25,.8,.25,1);
  border: 4px dashed rgba(150,150,150,0.25);
  #box-shadow: 10px 10px 0px rgba(80,255,80,0.15);
}

.bgElement:hover, .bgElement:active {
  margin-top: 13vh;
  margin-left: 65vw;
  width: 550px;
  border: 4px dotted rgba(210,80,80,0.5);
  background-color: rgba(255,0,0,0.03);
  #box-shadow: 60px 200px 0px rgba(80,255,80,0.15);
}

footer {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  justify-items: center;
  z-index: 70;
}

footer .icon {
  transition-delay: 200ms;
}

#footerLinks {
  grid-column: 2;
  height: 1.9em;
  width: 5em;
  font-size: 1.55em; 
  background-color: var(--bg-footer);
  backdrop-filter: blur(20px) saturate(500%);
  border-radius: 0.2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3vh;
}
